*, body {
    background-color: darkslategray;
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1 {
    margin-bottom:20px;
}
.section {
    margin-bottom: 30px;
}
.section-title {
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
a {
	text-decoration: none; /* Elimina el subrayado predeterminado */
	color: #007bff; /* Color del texto para enlaces */
	transition: color 0.2s; /* Efecto de transición de color al pasar el cursor */
}

a:hover {
	color: #0056b3; /* Color del texto al pasar el cursor por encima */
}
a:visited {
    color: purple;
}
.profile-img {
	width: 150px;
	height: 150px;
    margin-bottom: 20px;
}